/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import '~@styles/shared/variables';

/* ------------------------------------------------------------ *\
    Admin
\* ------------------------------------------------------------ */
