/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@use "~@styles/shared/variables" as shared;

/* ------------------------------------------------------------ *\
    Admin
\* ------------------------------------------------------------ */
