/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@use "~@styles/shared/variables" as shared;
@use "./variables";

/* ------------------------------------------------------------ *\
    Frontend
\* ------------------------------------------------------------ */

@use "./generic.fonts";
