/* ------------------------------------------------------------ *\
    Settings
\* ------------------------------------------------------------ */

@import "~@styles/shared/variables";
@import "./variables";

/* ------------------------------------------------------------ *\
    Theme
\* ------------------------------------------------------------ */

@import "./generic.fonts";
